/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fff23d, #acb6e5);
}

.login-container {
  background-color: #fff;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #bb1818;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group input:hover {
  border-color: #5b09b9;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #4c00ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-btn:hover {
  background-color: #00ad0e;
  transform: scale(1.02);
}

.forgot-password {
  text-align: right;
  margin-top: 0.5rem;
}

.forgot-password a {
  text-decoration: none;
  color: #0984e3;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.forgot-password a:hover {
  color: #74b9ff;
}

/* Responsif */
@media (max-width: 480px) {
  .login-container {
    padding: 2rem 1.5rem;
  }
}